<html>
<h1>Sign up</h1>
<form method="post" action="/users">
  <label for="username">
    Username:
    <input type="text" name="username" >
  </label>
  <label for="email">
    Email:
    <input type="text" name="email" >
  </label>
  <label for="password">
    Password:
    <input type="text" name="password">
  </label>
  <label for="password">
    Confirm Password:
    <input type="text" name="password_confirmation">
  </label>
  <input type="submit" value="Sign up">
</form>
</html>
